/******************************************
 CUSTOM STYLESHEET
*******************************************/

/*
* You can place your custom CSS statements in this file, after this message.
* It is better to write everything custom here
* because this file won't be replaced during updates.
*
* Simply copy an existing style from style.css to this file,
* and modify it to your liking.
*/


/* Body */

body {
   color: #000;
   font-size: 1.1em;
   line-height: 1.5em;
   font-family: droid-serif, Georgia, serif;
}


/* Heads */

h1, h2, h3, h4, h5, h6 {
   margin-top: 2em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   padding: 0;
   line-height: 1.25em;
   font-family: jaf-facitweb, "Trebuchet MS", sans-serif;
   font-weight: 600;
}

h1 {
   font-size: 2em;
}

h2 {
   font-size: 1.5em;
}

h3 {
   font-size: 1.25em;
}

h4, h5, h6 {
   font-size: 1.1em;
}

h5, h6 {
   font-style: italic;
}

h6 {
   font-weight: normal;
}

.title, .toc .title {
   margin: 0.5em 0;
}

.author, .toc .author {
   margin-top: 0.25em;
   color: #666;
   font-weight: normal;
}


/* Body text */

p {
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   padding: 0;
}


/* Links */

a {
   color: #c00;
   outline: none;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

a img { border: none; }

.wc a, .note a {
   color: #000;
   text-decoration: underline;
}


/* Rules */

hr {
   margin-top: 2em;
   margin-bottom: 2em;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
   height: 1px;
   width: 10%;
   border-color: #333;
}


/* Epigraphs */

.epigraph {
   margin: 0;
   font-style: italic;
}

.epigraph-reference {
   margin-top: 0.25em;
   text-align: right;
}


/* Notes */

a.note {
   padding: 0 0.1em;
   vertical-align: super;
   line-height: 1em;
}

a.return {
   padding-left: 0.25em;
}

.notes {
   margin: 1.5em 0;
   padding-left: 1.5em;
}


/* Lists */

ul {
   margin: 1em 0;
   padding-left: 1.5em;
}


/* Extracts */

blockquote {
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   margin-left: 2em;
   margin-right: 0;
}

blockquote p {
   margin: 1em 0 0 0;
}

.poetry-stanza p {
   margin: 0;
}

.extract-reference {
   margin-top: 0;
   text-align: right;
}


/* Figures */

.figure {
   margin: 2em 0;
}

.figure p {
   font-size: 0.9em;
}

.placeholder img {
   width: 350px;
   height: 200px;
   background-color: #fcc;
}

.caption {
   margin: 1em 0;
   color: #222;
   font-weight: bold;
}

/* center images */
.wp-caption.alignnone, .wp-caption.aligncenter {
	margin: 1.5em auto;
}
/* center the caption, too */
.wp-caption p {
	text-align: center;
	font-size: 85%;
	font-family: "Trebuchet MS", sans-serif;
}

/* Author note */

.authornote {
   margin-top: 2em;
   padding: 1em;
   background-color: #ddd;
}

/* Tag */

#tag {
   position: fixed;
   top: 2em;
   left: 1em;
   font-size: 2em;
   font-weight: bold;
}

#tag a {
   color: #999;
   text-decoration: none;
}

#tag a:hover {
   color: #000;
}


/* Inline */

.tight { letter-spacing: -0.15em; }
.hilarious { font-family: "Comic Sans MS", monospace; }


/* Tweaks */

#logo h1 {
   margin-top: 1.25em;
   margin-bottom: 0.75em;
   font-family: droid-serif, Georgia, serif;
   letter-spacing: 0.25px;
}

#menu {
   font-family: jaf-facitweb, "Trebuchet MS", sans-serif;
   font-size: 90%;
}

h1.title a {
   color: #000;
}

.head_title, .archive_title {
   margin: 1.5em 0;
}

#footer {
   font-family: jaf-facitweb, "Trebuchet MS", sans-serif;
}

.post .title, .single .title, .single h2.author {
   text-align: center;
}

.thumbnail {
   margin: 0;
   margin-bottom: 0.75em;
   line-height: 90%;
}

.thumbnail {
   margin-bottom: 0;
}

.imagecaption {
   font-family: jaf-facitweb, "Trebuchet MS", sans-serif;
   font-size: 60%;
   color: #999;
}

#respond label {
   display: block;
   margin: 1em 0;
   font-family: jaf-facitweb, "Trebuchet MS", sans-serif;
   font-size: 1.1em;
   font-weight: bold;
}

#comments p {
   margin: 0.5em 0;
}

#comments .reply {
   font-size: 90%;
}

.post h4.author {
  margin-top: -0.5em;
}

.pub_date p {
   font-weight: bold;
}

/* Home page categories */

.home-page .category {
   margin: 0;
   font-size: 80%;
   text-align: left;
}

.home-page .category a {
   color: #666;
}

.prominent-articles {
   margin-top: 1em;
}


/* Custom hides */

.widget-area {
   display: none;
}

body.category .category {
   display: none;
}


/* Category and Archive widgets */

#sidebar {
   float: none;
   width: auto;
}

.widget {
   width: 47%;
   margin-bottom: 1.5em;
   font-family: jaf-facitweb, "Trebuchet MS", sans-serif;
}

.widget_categories {
  float: right;
}

.widget ul {
  padding-left: 10px;
}

.widget li {
   color: #666;
   font-size: 1em;
}

.widget li:last-child {
   padding-bottom: 0;
   border-bottom: none;
}

.widget a, .widget h3.title {
   padding-right: 5px;
   font-size: 1em;
   font-weight: bold;
}


/* Navigation */

.navigation {
   font-family: jaf-facitweb, "Trebuchet MS", sans-serif;
   font-size: 1em;
}

/* Table figures */

.figure {
  width: 100%;
  overflow-x: auto;
}

.figure table {
  font-size: 0.8em;
  border-bottom: 1px solid #000;
  min-width: 40em;
  overflow-x: scroll;
  width: 100%;
}

.figure th {
  font-size: 0.85em;
  font-weight: normal;
  padding-top: .5em;
}

.figure th[scope=col] {
  border-bottom: 1px solid #000;
  text-align: center;
  vertical-align: bottom;
}

.figure th[scope=row] {
  white-space: nowrap;
}

.figure td {
  padding-top: .5em;
  text-align: right;
  white-space: nowrap;
}

.figure tr:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.shaded {
    background-color: #ccc;
}

/* Bugfixes */

/* don't center categories in the archive list */
.archive .category {
	text-align: left;
}


