/******************************************
 CUSTOM STYLESHEET
*******************************************/

/*
* You can place your custom CSS statements in this file, after this message.
* It is better to write everything custom here
* because this file won't be replaced during updates.
*
* Simply copy an existing style from style.css to this file,
* and modify it to your liking.
*/


/* Body */

body {
   color: #000;
   font-size: 1.1em;
   line-height: 1.5em;
   font-family: droid-serif, Georgia, serif;
}


/* Heads */

h1, h2, h3, h4, h5, h6 {
   margin-top: 2em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   padding: 0;
   line-height: 1.25em;
   font-family: jaf-facitweb, "Trebuchet MS", sans-serif;
   font-weight: 600;
}

h1 {
   font-size: 2em;
}

h2 {
   font-size: 1.5em;
}

h3 {
   font-size: 1.25em;
}

h4, h5, h6 {
   font-size: 1.1em;
}

h5, h6 {
   font-style: italic;
}

h6 {
   font-weight: normal;
}

.title, ol.toc .title {
   margin: 0.5em 0;
}

.author, ol.toc .author {
   margin-top: 0.25em;
   color: #666;
   font-weight: normal;
}


/* Body text */

p {
   margin-top: 1em;
   margin-bottom: 1em;
   margin-left: 0;
   margin-right: 0;
   padding: 0;
}


/* Links */

a {
   color: #c00;
   outline: none;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

a img { border: none; }

p.wc a, p.note a {
   color: #000;
   text-decoration: underline;
}


/* Rules */

hr {
   margin-top: 2em;
   margin-bottom: 2em;
   margin-left: auto;
   margin-right: auto;
   padding: 0;
   height: 1px;
   width: 10%;
   border-color: #333;
}


/* Epigraphs */

p.epigraph {
   margin: 0;
   font-style: italic;
}

p.epigraph-reference {
   margin-top: 0.25em;
   text-align: right;
}


/* Notes */

a.note {
   padding: 0 0.1em;
   vertical-align: super;
   line-height: 1em;
}

a.return {
   padding-left: 0.25em;
}

ol.notes {
   margin: 1.5em 0;
   padding-left: 1.5em;
}


/* Lists */

ul {
   margin: 1em 0;
   padding-left: 1.5em;
}


/* Extracts */

blockquote {
   margin-top: 1.5em;
   margin-bottom: 1.5em;
   margin-left: 2em;
   margin-right: 0;
}

p.extract {
   margin: 0.25em 0;
}

p.extract ~ p.extract {
   margin-top: 1em;
}

p.extract-reference {
   margin-top: 0;
   text-align: right;
}


/* Figures */

div.figure {
   margin: 2em 0;
}

div.figure p {
   font-size: 0.9em;
}

div.placeholder img {
   width: 350px;
   height: 200px;
   background-color: #fcc;
}

p.caption {
   margin: 1em 0;
   color: #222;
   font-weight: bold;
}


/* Author note */

p.authornote {
   margin-top: 2em;
   padding: 1em;
   background-color: #ddd;
}

/* Tag */

#tag {
   position: fixed;
   top: 2em;
   left: 1em;
   font-size: 2em;
   font-weight: bold;
}

#tag a {
   color: #999;
   text-decoration: none;
}

#tag a:hover {
   color: #000;
}


/* Inline */

span.tight { letter-spacing: -0.15em; }
span.hilarious { font-family: "Comic Sans MS", monospace; }


/* Tweaks for Yamidoo */

#logo h1 {
   margin-top: 1.25em;
   margin-bottom: 0.75em;
   font-family: droid-serif, Georgia, serif;
   letter-spacing: 0.25px;
}

#menu {
   font-family: jaf-facitweb, "Trebuchet MS", sans-serif;
   font-size: 90%;
}

h1.title a {
   color: #000;
}

.head_title, .archive_title {
   margin: 1.5em 0;
}

#footer {
   font-family: jaf-facitweb, "Trebuchet MS", sans-serif;
}

.post .title, .single .title, .single h2.author {
   text-align: center;
}

.thumbnail {
   margin: 0;
   margin-bottom: 0.75em;
   line-height: 90%;
}

img.thumbnail {
   margin-bottom: 0;
}

.imagecaption {
   font-family: jaf-facitweb, "Trebuchet MS", sans-serif;
   font-size: 60%;
   color: #999;
}

#respond label {
   display: block;
   margin: 1em 0;
   font-family: jaf-facitweb, "Trebuchet MS", sans-serif;
   font-size: 1.1em;
   font-weight: bold;
}

#comments p {
   margin: 0.5em 0;
}

#comments .reply {
   font-size: 90%;
}

.post h4.author {
  margin-top: -0.5em;
}


/* Home page categories */

.home-page .category {
   margin: 0;
   font-size: 80%;
   text-align: left;
}

.home-page .category a {
   color: #666;
}

.prominent-articles {
   margin-top: 1em;
}


/* Custom hides */

.widget-area {
   display: none;
}

body.category .category {
   display: none;
}
